include physics.content.pug

mixin vertical_table(list)
	h3(id!=attributes.id)
		a(href!=`#${attributes.id}`, title="Прямая ссылка на раздел")= list.name
	section.table-container
		table(class!=attributes.class, caption= list.name)
			tr
				each val in list.content.head
					th
						| !{val}
			each row in list.content.body
				tr
					each val in row
						td
							| !{val}

mixin horizontal_table(list)
	h3(id!=attributes.id)
		a(href!=`#${attributes.id}`, title="Прямая ссылка на раздел")= list.name
	section.table-container
		table(caption= list.name)
			each row in list.content
				tr
					th= row.head
					each val in row.body
						td
							| !{val}
		p.table-caption
			| !{list.description}

section.main__phys#physics
	hr
	h2
		a(href="#physics", title="Прямая ссылка на раздел")
			| Физика
			<svg style="margin-left: 0.75rem;" width="36.8px" height="36px" viewBox="0 0 92 90" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M48.3234 35.13C63.5834 35.13 63.4874 58.447 48.5844 58.447C32.2654 58.446 33.0034 35.13 48.3234 35.13ZM77.8244 79.852C77.0144 80.581 76.1504 81.175 75.2484 81.672L74.3724 76.221C74.4074 76.191 74.4464 76.165 74.4814 76.134C78.4274 72.584 78.5454 66.562 76.2704 59.695C69.3564 63.492 60.8994 66.409 52.4674 68.195C50.7404 68.561 48.9924 68.872 47.2384 69.149C50.5344 71.737 53.8574 73.93 57.0534 75.542C58.2344 73.498 60.3974 72 63.4994 72C73.2524 72 73.1904 86.901 63.6654 86.901C58.8664 86.901 56.3814 83.745 56.0454 80.338C50.8954 77.937 45.5914 74.293 40.5904 69.97C36.1134 70.365 31.7014 70.438 27.5824 70.111C28.6004 78.093 32.0604 82.858 36.4834 84.299C40.3074 85.545 44.4384 83.934 48.4494 80.259L52.5554 82.967C47.1404 88.351 41.0864 91.057 34.9344 89.053C27.0454 86.484 23.4774 78.889 22.6944 69.507C13.3404 67.905 6.24843 63.843 4.67843 56.436C4.45143 55.365 4.34543 54.316 4.33743 53.289C-2.50857 50.488 -1.09957 39.001 7.49743 39.001C16.6164 39.001 17.1534 52.024 9.40043 53.718C9.41843 54.287 9.45343 54.853 9.56943 55.4C10.5774 60.156 15.4224 63.215 22.5224 64.617C22.5734 60.38 23.0994 55.915 23.9604 51.474C14.2184 37.439 9.19543 21.912 18.0044 13.991C22.9824 9.517 29.3854 9.111 36.1454 11.226L34.1364 15.746C28.5814 14.3 24.1684 15.174 21.3484 17.709C15.8494 22.653 18.1774 33.313 25.4704 44.965C25.9084 43.336 26.3754 41.722 26.8884 40.148C30.5944 28.771 36.8344 16.869 44.3474 9.856C43.0334 5.533 45.5314 0 51.4984 0C61.2504 0 61.1894 14.901 51.6644 14.901C49.8924 14.901 48.4424 14.464 47.2924 13.75C40.9064 19.862 35.1524 30.639 31.5604 41.67C30.5634 44.731 29.7764 47.615 29.1434 50.356C31.0194 52.897 33.1034 55.45 35.3694 57.97C37.5594 60.406 39.8704 62.74 42.2384 64.907C45.2234 64.555 48.3054 64.054 51.4474 63.388C59.8594 61.606 68.0924 58.763 74.5084 55.207C73.9804 54.039 73.4004 52.858 72.7654 51.67L75.7234 46.974C76.8044 48.843 77.7754 50.726 78.6444 52.602C84.4484 48.504 87.8154 43.706 86.7344 38.599C85.6414 33.442 80.5534 30.33 73.5454 28.853C73.3584 36.615 71.6954 45.231 69.0924 53.296L63.3464 54.927C63.6874 53.972 64.0214 53.008 64.3414 52.026C66.9864 43.905 68.6314 35.419 68.7784 28.121C61.2934 27.357 52.4244 28.042 44.0294 29.821C43.4304 29.948 42.8834 30.093 42.3014 30.226L43.9724 24.821C52.0204 23.202 60.8024 22.503 68.6294 23.233C68.1514 17.764 66.5824 13.34 63.6344 10.833L64.5284 5.395C70.1984 8.556 72.8874 15.452 73.4504 23.899C82.7724 25.624 89.9864 29.824 91.6264 37.564C93.2224 45.098 88.4064 51.786 80.5044 57.119C83.7294 66.115 83.7414 74.532 77.8244 79.852ZM31.7184 61.255C30.4164 59.808 29.1494 58.313 27.9264 56.785C27.4814 59.863 27.2694 62.704 27.2824 65.281C29.9004 65.512 32.7274 65.565 35.7054 65.442C34.3354 64.081 33.0014 62.683 31.7184 61.255Z" />
			</svg>

	+vertical_table(main_physics_constants)(id="main-physics-constants")
	+vertical_table(elements_constants)(id="elements-constants")
	+vertical_table(name_constants)(id="name-constants")
	+vertical_table(solid_density)(class="part-right", id="solid-density")
	+vertical_table(liquid_density)(class="part-right", id="liquid-density")
	+vertical_table(gases_density)(class="part-right", id="gases-density")
	+vertical_table(temperature_capacity)(class="part-right", id="temperature-capacity")
	+vertical_table(specific_resistance)(class="part-right", id="specific-resistance")
	+vertical_table(melt_boiling_temperature)(class="part-right", id="melt-boiling-temperature")
	+horizontal_table(degrees_of_freedom)(id="degrees-of-freedom")